<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <justuno>
            <general>
                <api_key></api_key>
                <woocommerce_token></woocommerce_token>
                <sub_domain>justone.ai</sub_domain>
            </general>
        </justuno>
    </default>
</config>