<?xml version='1.0' ?>
<config 
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' 
	xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
	<default>
		<justuno_settings>
			<options_interface>
				<accid></accid>
<!-- 2021-08-30 Dmitrii Fediuk https://upwork.com/fl/mage2pro
"Remove the example «API Token Key» value from `etc/config.xml` as it makes the custumer's Magento data vulnerable
if the customers uses the example value it his Justuno account": https://github.com/justuno-com/m2/issues/42 -->
				<token_key></token_key>
			</options_interface>
		</justuno_settings>
	</default>
</config>