<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!--<event name="checkout_cart_add_product_complete">-->
    <!--    <observer name="justuno_add_to_cart" instance="Justuno\M2\Observer\AddToCart" />-->
    <!--</event>-->
    <!--<event name="sales_order_place_after">-->
    <!--    <observer name="justuno_order_placed" instance="Justuno\M2\Observer\OrderPlaced" />-->
    <!--</event>-->
</config>